:root{
  font-weight: 400;
  font-family: Orbitron, sans-serif;
  
  --accent-color: #57B8FF;
  --text-color: #80858F;
  --sec-text-color: #DFDFDFCC;
  --primary-text-color: #999999;
  
  background-color: #222730;
  color: #fff;
}

*{
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3{
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

h1{
  font-size: clamp(1rem, 1rem + 5vw, 4.625rem);
}

h2{
  font-size: clamp(0.8rem, 0.8rem + 5vw, 4rem);
}

h3{
  font-size: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}
footer,
section{
  padding-block: min(10vh, 7rem)
}

a{
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
a:hover, a:focus, a:active{
  color: #FAC422;
}

header{
  padding-block: 1rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header i{
  display: none;
  font-size: 1.7rem;
  margin-right: 0.4em;
}

header nav{
  display: none;
}

nav a{
  color: #fff;
}

time{
  color: var(--accent-color);
  font-size: clamp(0.8rem, 1.25vw, 1rem);
}

p{
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1.5;
  margin-bottom: 2em;
  color: var(--primary-text-color);
}

footer img {
  margin-bottom: 1em;
}

.container{
  padding: 0 1em;
  max-width: 90rem;
  margin: 0 auto;
}

.subheader{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin: 1em 0;
}

.cta__button{
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-family: inherit;
  padding: clamp(0.5em, 0.625em, 0.825em);
}

.split *{
  margin: 0 auto 1em;
}

.column *{
  display: block;
}

.auto-grid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.auto-grid *{
  margin: 0 auto;
}

/* hero section styles */

.hero{
  position: relative;
}

.hero a{
  color: #fff;
}

.hero-bg{
  display: grid;
  grid-template-columns: 60% 40%;
  z-index: -10;
  width: 100%;
  height: calc(100% + 150px);
  position: absolute;
  top: -150px;
}

.bg-black {
  background-color: #000;
}

.bg-blue{
  background-color: var(--accent-color);
}

.hero__text{
  display: flex;
}

.hero__text a{
  margin-left: 1em;
}

.social-media{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-right: 1em;
}

.social-media a{
  color: var(--text-color);
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

/* news section styles */

.news .cta__button{
  margin-bottom: 2em;
}

.news time{
  margin-block: 1.5em;
  display: block;
}

.news p{ 
  color: #fff;
}

.details p{
  color: var(--sec-text-color);
}


@media (min-width: 40em){

  header{
    padding-block: 2rem;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    width: 45%;
  }

  header i{
    display: inline;
  }
  
  .split {
   display: flex;
   flex-wrap: wrap;
   gap: 2em;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em;
  }

  .hero__text{
    order: 1;
  }

  #hero-img{
    order: 2;
  }

  .news .container{
    grid-template-areas: 
    'h h'
    'l r';
  }

  .news__header{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .news__header h2{
    margin-bottom: 0;
    width: 70%;
  }

  .news__left{
    grid-area: l;
  }
  .news__right{
    grid-area: r;
  }

  footer .container{
    align-items: start;
  }

}

